.sidenav {
    padding: 0; 
    overflow-x: hidden;
    overflow-y: auto; 
    height: 100%; 
}

.sidenav ul {
    list-style: none;
    padding: 10px 0; 
    margin: 0;
}


.sidenav ul li {

    list-style-type: none; 
    margin: 4px 0; 
    padding: 0; 
    width: auto; 
    height: auto; 
}


.sidenav ul li a {
    text-decoration: none;
    color: #333333; 
    font-weight: 500;
    font-size: 1rem;
    padding: 12px 16px; 
    display: flex;
    align-items: center;
    border-radius: 6px; 
    transition: all 0.2s ease-in-out;
}


.sidenav ul li a:hover {
    background-color: #f0f4f8; 
    color: #1e3a8a; 
}


.sidenav ul li a.active {
    background-color: #e3ecf5; 
    color: #1e3a8a; 
    font-weight: 700; 
    border-left: 4px solid #4A7DB0; 
    padding-left: 12px; 
}